/* keyframes проекта и анимации иконки "Like" */

/* theme pointer 👇🏻 */

@keyframes current-theme-point {

  from {
    translate: 0;
  }

  to {
    translate: 4px;
  }
}

  .theme-menu__button:before {
    animation: current-theme-point 0.5s infinite ease-in-out alternate;
  }

/* theme pointer 👆🏻 */

/* like icon 👇🏻 */

/* hover 👇🏻 */

.core {
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--like-icon-contour-color);
  transition: fill 0.3s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--like-icon-contour-color);
  transition: fill 0.3s 0.05s linear;
}

/* hover 👆🏻 */

/* active 👇🏻 */

.card__icon-button:active .core {
  fill: var(--like-icon-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--like-icon-fill-color);
  transition: fill 0.3s 0.05s linear;
}

/* active 👆🏻 */

/* clicked 👇🏻 */

.like-icon.is-liked .core {
  fill: var(--like-icon-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--like-icon-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--like-icon-fill-color);
  transition: fill 0.3s 0.06s linear;
}

@keyframes heart-beat {

  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-beat 0.3s ease-in 2 alternate 0.1s;
}

@keyframes heart-sparks {
  
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s ease-in 2 alternate 0.3s;
}

/* clicked 👆🏻 */

/* like icon 👆🏻 */
