/*
  основные стили
  тема, сверстанная первой (светлая)
*/

/* mobile 👇🏻 */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: var(--page-bg-color) center / cover;
  background-image: var(--page-bg-gradient);
  background-attachment: fixed;
  color: var(--accent-color);
  font-family: var(--primary-font), sans-serif;
  font-variation-settings: 'wght' var(--primary-font-regular);
}

/* header 👇🏻 */

.header {

}

/* header nav 👇🏻 */

.theme-menu {

}

.header__theme-menu {

}

.theme-menu__list {

}

.theme-menu__item {

}

.theme-menu__button {

}

/* header nav 👆🏻 */

/* header 👆🏻 */

/* main 👇🏻 */

.content {

}

/* main 👆🏻 */

/* footer 👇🏻 */

.footer {

}

/* footer 👆🏻 */

/* mobile 👆🏻 */

/* desktop 👇🏻 */

@media (width >= 1440px) {

}

/* desktop 👆🏻 */
