/*
  основные стили
  тема, сверстанная первой (светлая)
*/

/* desktop 👇🏻 */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-color) center / cover;
  background-image: var(--page-bg-gradient);
  background-attachment: fixed;
  color: var(--accent-color);
  font-family: var(--primary-font), sans-serif;
  font-size: var(--page-text-m);
  font-variation-settings: 'wght' var(--primary-font-regular);
}

/* header 👇🏻 */

.header {
  margin-block: 100px;
  border: 2px solid var(--accent-color);
  padding:
    clamp(120px, 7.1479rem + 1.5023vw, 136px)
    clamp(14px, -1.4577rem + 9.9531vw, 120px)
    22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 25px;
  background-color: var(--primary-color);
  font-family: var(--accent-font), fantasy;
}

.content-area {
  inline-size: var(--content-area-wdth);
}

.header__logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(49px, 2.7104rem + 1.5023vw, 65px);
  white-space: nowrap;
  user-select: none;
}

.header__title {
  font-size: clamp(14px, 0.6769rem + 0.8451vw, 23px);
}

/* header nav 👇🏻 */

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__button {
  border: none;
  display: grid;
  grid-template: repeat(2, auto);
  gap: 1px 5px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: transparent;
  font-size: var(--page-text-s);
  text-transform: uppercase;
  transition: opacity 0.3s;
  cursor: pointer;
  user-select: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:disabled,
.theme-menu__button:focus-visible {
  opacity: .6;
}

@media (hover:hover) {

  .theme-menu__button:hover {
    opacity: .6;
  }
}

.theme-menu__button:before {
  content: '▶';
  visibility: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.theme-menu__button:disabled:before {
  visibility: visible;
}

.theme-menu__button:after {
  content: '';
  inline-size: 100%;
  block-size: 2px;
  background: currentColor;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.3s;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
  opacity: .6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

/* header nav 👆🏻 */

/* header 👆🏻 */

/* main 👇🏻 */

.content {
  margin-block-end: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* main article 👇🏻 */

.content__card {
  border: 1px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
}

.content__card-title {
  border: 1px solid var(--accent-color);
  padding: 5px 10px;
  font-size: var(--page-text-m);
  font-variation-settings: 'wght' var(--primary-font-bold);
  line-height: 1.2;
}

.content__card-image-container {
  border: 1px solid var(--accent-color);
  position: relative;
  display: flex;
}

.content__card-image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  user-select: none;
}

.filter-contrast {
  filter: contrast(1.25) opacity(0.95);
}

.filter-grayscale {
  filter: grayscale(0.75) opacity(0.95);
}

.filter-sepia {
  filter: sepia(0.25) opacity(0.95);
}

.filter-blur {
  filter: blur(3px) opacity(0.95);
}

.filter-invert {
  filter: invert(1) opacity(0.95);
}

.filter-shadow {
  filter: drop-shadow(20px 15px 10px rgba(0 0 0 / 0.75)) opacity(0.95);
}

.filter-saturate {
  filter: saturate(2.5) opacity(0.95);
}

.filter-brightness {
  filter: brightness(1.3) opacity(0.95);
}

.content__card-image-label {
  position: absolute;
  inset-inline-end: clamp(11px, 0.3794rem + 1.3146vw, 25px);
  inset-block-start: 24px;
  opacity: .5;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font), fantasy;
  font-size: var(--page-text-s);
  text-shadow:
  0 -1px var(--primary-color),
  1px 0 var(--primary-color),
  0 1px var(--primary-color),
  -1px 0 var(--primary-color);
  user-select: none;
}

@supports ((text-stroke: ) or (-webkit-text-stroke: )) {

  .content__card-image-label {
    -webkit-text-stroke: 1px var(--primary-color);
    text-stroke: 1px var(--primary-color);
    text-shadow: none;
  }
}

.content__card-description {
  border: 1px solid var(--accent-color);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content__card-text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.content__card-text {
  font-variation-settings: 'wght' var(--primary-font-regular);
  line-height: 1.17;
}

.content__card-text-link:focus-visible {
  outline: 2px solid currentColor;
}

.content__card-button-container {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: currentColor;
}

.like-icon {
  block-size: 34px;
}

.card__like-button {
  min-inline-size: 130px;
  padding: 6px 20px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  background: var(--primary-color);
  transition: box-shadow 0.3s;
  cursor: pointer;
  user-select: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px currentColor;
  outline: none;
}

.button:before {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

@media (hover:hover) {

  .button:hover:before {
    transform: scaleX(1);
  }
}

.button__text {
  color: var(--button-text-color);
  font-family: var(--accent-font), fantasy;
  font-size: var(--page-text-s);
  line-height: .9;
  mix-blend-mode: difference;
}

/* main article 👆🏻 */

.content__save-button {
  align-self: center;
  inline-size: fit-content;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.content__save-button .floppy {
  block-size: 21px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

/* dialog 👇🏻 */

.save-dialog {
  position: fixed;
  inset: 0;
  inline-size: clamp(341px, 20.9604rem + 1.5023vw, 357px);
  min-block-size: 194px;
  border: 2px solid var(--accent-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: var(--primary-color);
  color: var(--accent-color);
  transition: opacity 0.3s ease-in-out;
}

.save-dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.save-dialog::backdrop {
  background: #000;
  opacity: .75;
}

.save-dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.floppy-container {
  inline-size: 39px;
  block-size: 39px;
  display: flex;
}

.save-dialog__title {
  font-family: var(--accent-font), fantasy;
  font-size: var(--page-text-s);
  font-weight: var(--primary-font-regular);
  line-height: 1.5;
  text-transform: uppercase;
  user-select: none;
}

.save-dialog__button {
  justify-self: center;
  inline-size: clamp(257px, 15.2702rem + 3.3803vw, 293px);
  padding: 10.5px;
  font-family: var(--accent-font), fantasy;
  font-size: var(--page-text-s);
  line-height: .9;
  text-transform: uppercase;
}

/* dialog 👆🏻 */

/* main 👆🏻 */

/* desktop 👆🏻 */

/* mobile 👇🏻 */

@media (width <= 375px) {

  .content__save-button {
    flex-direction: column;
  }

  .content__save-button .floppy {
    block-size: 28px;
  }

  .save-dialog {
    max-inline-size: 341px;
    inline-size: 100%;
    padding-inline: 40px;
  }
}

/* mobile 👆🏻 */
