/* переменные для темы, сверстанной первой (светлая) */

/* mobile 👇🏻 */

:root {
  /* setup 👇🏻 */

  --primary-font: 'Inter';
  --accent-font: 'Press Start 2P';
  --primary-font-regular: 400;
  --primary-font-bold: 700;

  /* layout 👇🏻 */



  /* theme 👇🏻 */

  --page-bg: #fff;
  --accent-color: #000;

}

/* desktop 👇🏻 */

@media (width >= 1440px) {
  :root {

  }
}
