/* переменные для темы, сверстанной первой (светлая) */

/* desktop 👇🏻 */

:root {
  /* setup 👇🏻 */

  --primary-font: 'Inter';
  --accent-font: 'Press Start 2P';
  --primary-font-regular: 400;
  --primary-font-bold: 700;
  --page-text-size: 18px;

  /* layout 👇🏻 */

  --content-area-wdth: clamp(375px, 16.2852rem + 30.5164vw, 700px);

  /* theme 👇🏻 */

  --primary-color: #fff;
  --accent-color: #000;
  --page-bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  --label-stroke-color: #fff;
  --button-text-color: var(--primary-color);
}

/* mobile 👇🏻 */

@media (width <= 375px) {

  :root {
    --content-area-wdth: 100%;
  }
}
